.page{
    width:1000px;
    height:650px;
    margin:30px auto;
    border:2px solid #000;
    background:#fff;
}

.top{
    display:flex;
    height:60px;
}

.menu,.title{
    border:1px solid #000;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
}

.menu{
    width:90px;
}

.title{
    width:150px;
}

.content{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    padding:40px 80px;
}

.link{
    text-decoration:none;
    color:black;
    margin-bottom:20px;
}

.stageBox{
    width:700px;
    height:100px;
    border:1px solid #000;
    display:grid;
    grid-template-columns:2fr 60px 60px 2fr;
}

.stage,.mode,.result{
    display:flex;
    justify-content:center;
    align-items:center;
    border-right:1px solid #000;
    font-size:13px;
    width:px;
}

.result{
    flex-direction:column;
    border-right:none;
}

.star{
    font-size:40px;
}

.stageBox:hover{
    background:#f2f2f2;
    cursor:pointer;
}